$accent-blue: #1C52A2;
$accent-gray: #F6F6F6;
$accent-input-background: #f5f8fa;
$accent-input-border: #cbd6e2;
$wrapper: 1440px;
$page-width: 1600px;
$media-desktop: 1210px;
$media-tablet: 892px;
$media-mobile: 576px;
